<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Beauty</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Corben&family=League+Gothic&display=swap" rel="stylesheet">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="\css\styles.css">

  <!-- font awesome kit script -->
  <script src="https://kit.fontawesome.com/efe934e7b1.js" crossorigin="anonymous"></script>


</head>

<body>

  <section id="title">
    <div class="container-fluid">


      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg  navbar-dark">
        <a class="navbar-brand">Dhanda Chalega</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/footware">Footware</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clothes">Clothes</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/medical">Medical and Healthcare</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/electronics">Electronics</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/grocery">Grocery</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Beauty</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sports">Sports</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/food">Food and Restaurants</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auto">Auto and Spare Parts</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stationary">Stationary</a>

            </li>
          </ul>
        </div>

      </nav>

    </div>
  </section>

  <!-- Search Bar for location of locality -->

        <div class="search-bar">
          <i class="fa-solid fa-location-smile"></i><input type="text" class="form-control" placeholder="eg: Dhankawdi" aria-label="" aria-describedby="">
        </div>
