
<%- include('partials/header'); -%>

  <!-- Album of the stores -->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="Images\kajol beauty parlor.png" alt="">

            <div class="card-body">
              <h2 class="card-title">Kajol Beauty Parlor</h2>
              <p class="card-special">🏷️Special Products: </p>
              <div class="special-items"><ol>
                <li>Facial</li>
                <li>Waxing</li>
                <li>Complete makeup of the Bride</li>
              </ol></div>
              <p class="card-offers">🤑Current Offers: </p>
              <p class="offers-items">Get waxing free for the bride</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"> <a class ="edit" href="/shopkeeper">Edit</a></button>
                </div>

              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
</body>

</html>
