<%- include('partials/header'); -%>

  <!-- Album of the stores -->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="Images\kesarwani electronics.jpeg" alt="">

            <div class="card-body">
              <h2 class="card-title">Kesarwani Digital</h2>
              <p class="card-special">🏷️Special Products: </p>
              <div class="special-items"><ol>
                <li>Advertising Screens</li>
                <li>Projectors</li>
                <li>POP lights</li>
                <li>Mercury lights</li>
              </ol></div>
              <p class="card-offers">🤑Current Offers: </p>
              <p class="offers-items">Special discount for the Caterers on mercury lights and house lighting</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"> <a class ="edit" href="/shopkeeper">Edit</a></button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="Images\gada electronics.jpeg" alt="">

            <div class="card-body">
              <h2 class="card-title">Gada Electronics</h2>
              <p class="card-special">🏷️Special Products: </p>
              <div class="special-items"><ol>
                <li>LCD (Le Cum Daam)</li>
                <li>LED</li>
                <li>OLED TV</li>
                <li>Fridge</li>
                <li>Sound System</li>
                <li>Laptop</li>
              </ol></div>
              <p class="card-offers">🤑Current Offers: </p>
              <p class="offers-items">Student discount on laptops</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"> <a class ="edit" href="/shopkeeper">Edit</a></button>
                </div>

              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
  <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
</body>

</html>
