<%- include('partials/header'); -%>


<h1>Edit New Offers💱</h1>
<form class="form" action="/shopkeeper" method="post">
  <div class="form-group">
    Shop Category <br>
    <input class="form-control" type="text" name="productCategory" value="">
    Shop name <br>
    <input class="form-control" type="text" name="shopName" value="">
    Secret Id of Shopkeeper <br>
    <input class="form-control" type="text" name="" value="">
    Update the offers <br>
    <textarea name="newOffer" rows="8" cols="80"></textarea><br>
    <button type="submit" class="btn btn-success">Checkout</button>
  </div>
</form>
